
.image-editor {
  position: relative;
}
.ratio-image{
  height: 35px;
  width:35px
}
.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.back-arrow {
  font-size: 24px;
  cursor: pointer;
}

.next-button {
  background-color: #2f8aed;
  padding: 8px 16px;
  color: black;
  cursor: pointer;
  border-radius: 25px;
  font-weight: 600;
}

.selected-image-container {
  display: flex;
  justify-content: center;
margin: 20px;
margin-top: 60px;
border-radius: 60px;
}
.image-border{
  border: 3px solid blue;
}
.selected-image {
  height: 250px;
  width: 250px;
  border-radius: 28px;
}

.aspect-ratio-selector {
display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  margin-top: 20px;
}

.aspect-ratio-option {
  margin: 5px;
}

.aspect-ratio-option input[type='radio'] {
  display: none;
}

.aspect-ratio-option label {
  cursor: pointer;
  margin-left: 5px;
}



.left-arrow1{
  font-size: 25px;
  cursor: pointer;
}


@media (max-width: 768px) {
  .top-section {
    padding: 15px;
  }

  .back-arrow {
    font-size: 18px;
  }

  .next-button {
    padding: 6px 12px;
    font-size: 14px;
  }
}
